<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center text-info">
        <small>Copyright &copy; <%= link_to "Rohan Borakhatariya", "https://github.com/Rony20", class: "text-white" %></small>
    </div>
</footer>