<div class="container-fluid" id="home-container">
    <div class="jumbotron text-center text-info">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">This is a application where you can create your blog posts</p>
        <hr class="my-4">
        <p>This application uses <strong>Ruby on Rails</strong> for creating and manipulatating articles</p>
        <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>



