<div class="container">
      <% flash.each do |name, msg| %>
            <% if name == "notice" then alert_postfix = "success" else alert_postfix = "danger" end %>
            <div class="alert alert-<%= alert_postfix %> alert-dismissible fade show" role="alert">
                  <%= msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
            </div>
      <% end %>
</div>